.about{
    background-color: #000;
}
img.about__img{
    border-radius: 10px;
    width: 100%;
}
img.old__img{
    border-radius: 10px;
    width: 90%;
    height: 30%;
    margin-left: 3%;
}
h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: 궁서,sans-serif;
    font-size: 80px;
    margin-top: 6%;
}
button.about.btn.pointer{
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}
.about__meta{
    margin-top: 8%;
}
.about__button{
    padding: 20px 0px;
}
.p__text {
    color: rgba(255,255,255,1);
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    font-family: 궁서,sans-serif;
    margin-bottom: 25px;
  }
a.bottom__to__top{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #F9004D;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.4s all ease;
    z-index: 1000;
}
a.bottom__to__top.active{
    display: flex;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px){
    p__color{
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 425px){
    button.about.btn.pointer{
        text-transform: capitalize;
        width: 165px;
        height: 50px;
        font-size: 13px;
        transition: .4s ease;
    }
}


.p__color{
    font-size: 15px!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.six__color{
    color: rgba(255,255,255,0.9);
    font-size: 32px;
    line-height: 35px;
    font-family: 궁서,sans-serif;
    margin-top: 5%;
    margin-bottom: 7%;
}