.stair__background {
  height: 400px;
  background-size:cover ;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin: 0px;
  padding: 0px;
}

.stair__explain{
  color: #fff;
  margin-right: 10%;
  background-color: #191919;
  border-radius: 10%;
  height: 85%;
  width: 30%;
  justify-content: center;
  align-items: center;

}

.stair__explain__lee{
  color: #fff;
  margin-right: 5%;
  background-color: #000;
  border-radius: 10%;
  height: 89%;
  width: 41%;
  justify-content: center;
  align-items: center;
}

.explaining__par__lee{
  padding: 5%;
  

}

.explaining__par{
  padding: 5%;
}


.explaining__par p{
  font-family: 궁서;
  font-size: 25px;
  font-weight: 300;
  padding: 1%;
  line-height:200%
}


.explaining__par__lee p{
  font-family: 궁서;
  font-size: 25px;
  font-weight: 300;
  padding: 1%;
  line-height:180%
}

.stair {
  float: right;
  display: flex;
  width: 40%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  background: #000;
  justify-content: space-between;
  margin-right: 5%;
}

.stair .boll img{
  display: inline-block;
  width: 15%;
  /* background: linear-gradient(10deg, #0d1e30, #fff);
  border-bottom: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff; */
  position: absolute;
  transition: 0.5s;
  -webkit-animation: bounceBoll 4s ease-in-out infinite;
  -o-animation: bounceBoll 4s ease-in-out infinite;
  animation: bounceBoll 4s ease-in-out infinite;
}

.stair .pipe {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
  border-radius: 10% 10% 0% 0%; 
  background: linear-gradient(10deg, black, red);
  margin-left: 2%;
  margin-right: 2%;
  /* margin-left: 1px;
    margin-right: 1px; */
  transform: scaleY(0.2);
  transform-origin: bottom;
  transition: 0.5s;
  box-shadow: 1px 2px 2px #fff;

}

.stair .pipe:nth-child(2) {
  -webkit-animation: changeHeight2 4s linear infinite;
  -o-animation: changeHeight2 4s linear infinite;
  animation: changeHeight2 4s linear infinite;
}

.stair .pipe:nth-child(3) {
  -webkit-animation: changeHeight3 4s linear infinite;
  -o-animation: changeHeight3 4s linear infinite;
  animation: changeHeight3 4s linear infinite;
}

.stair .pipe:nth-child(4) {
  -webkit-animation: changeHeight4 4s linear infinite;
  -o-animation: changeHeight4 4s linear infinite;
  animation: changeHeight4 4s linear infinite;
}

.stair .pipe:nth-child(5) {
  -webkit-animation: changeHeight5 4s linear infinite;
  -o-animation: changeHeight5 4s linear infinite;
  animation: changeHeight5 4s linear infinite;
}

.stair .pipe:nth-child(6) {
    -webkit-animation: changeHeight6 4s linear infinite;
    -o-animation: changeHeight6 4s linear infinite;
    animation: changeHeight6 4s linear infinite;
  }

  @keyframes changeHeight2 {
    0% {
      transform: scaleY(0.8);
    }
    20% {
      transform: scaleY(0.8);
    }
  
    22% {
      transform: scaleY(0.8);
    }
    100% {
      transform: scaleY(0.8);
    }
  }
@keyframes changeHeight3 {
  0% {
    transform: scaleY(0.8);
  }
  20% {
    transform: scaleY(0.8);
  }

  22% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(0.6);
  }
}



@keyframes changeHeight4 {
  0% {
    transform: scaleY(0.8);
  }
  20% {
    transform: scaleY(0.8);
  }

  22% {
    transform: scaleY(0.6);
  }
  40% {
    transform: scaleY(0.6);
  }
  44% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.5);
  }
}

@keyframes changeHeight5 {
    0% {
      transform: scaleY(0.8);
    }
    20% {
      transform: scaleY(0.8);
    }
  
    22% {
      transform: scaleY(0.6);
    }
    40% {
      transform: scaleY(0.6);
    }
    44% {
      transform: scaleY(0.5);
    }
    62% {
      transform: scaleY(0.5);
    }
    66% {
      transform: scaleY(0.35);
    }
    100% {
      transform: scaleY(0.35);
    }
  }

  @keyframes changeHeight6 {
    0% {
      transform: scaleY(0.8);
    }

    20% {
      transform: scaleY(0.8);
    }
  
    22% {
      transform: scaleY(0.6);
    }
    40% {
      transform: scaleY(0.6);
    }
    44% {
      transform: scaleY(0.5);
    }
    62% {
      transform: scaleY(0.5);
    }
    66% {
      transform: scaleY(0.35);
    }
    84% {
      transform: scaleY(0.35);
    }
    88% {
      transform: scaleY(0.20);
    }
    100% {
      transform: scaleY(0.20);
    }
  }
  

@keyframes bounceBoll {
  99% {
    bottom: 40%;

    left: 83%;
  }

  88% {
    left: 83%;
    bottom: 20%;

  }

  77% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    bottom: 55%;

    left: 63%;
  }

  66% {
    bottom: 35%;

    left: 63%;
  }

  55% {
    bottom: 70%;

    left: 43%;
  }

  44% {
    bottom: 50%;
        left: 43%;

  }

  33% {
    bottom: 85%;
    left: 23%;

  }

  22% {
    bottom: 65%;
    left: 23%;

  }

  11% {
    bottom: 90%;
    left: 5%;

  }

  0% {
    bottom: 80%;
    left: 5%;

  }
}
