.home__bg{
    background-image: url(./img/heaven.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home__bg__sad{
    background-image: url(./img/hell.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home__img{
    background-image: url(./img/background.png);
    position: relative;
    background-position: right 25% bottom;
    background-size: 1000px;
    background-repeat: no-repeat;
    margin-bottom: -10px;

}
.home__img__sad{
    background-image: url(./img/backgroundHell.png);
    position: relative;
    background-position: right 25% bottom;
    background-size: 1000px;
    background-repeat: no-repeat;
    margin-bottom: -10px;

}

li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
}

.home__content{
    padding: 125px 0px;
}
h1.home__text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198,201,216,.75)!important;
}
h2.home__text{
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
}
h3.home__text{
    font-size: 50px;
    line-height: 800;
    font-family: Montserrat,sans-serif;
    line-height: 40px;
}
h4.home__text{
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
}
.header{
    transition: .4s all ease;
}
.header.active{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0px 30px;
    background-color: #191919;
}
.toggle__menu{
    display: flex;
    justify-content: flex-end;
    float: right;
    z-index: 1000;
    width: 100%;
}
ul.sidebar.d__flex{
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    right: 0%;
    background: #010101;
    justify-content: center;
    width: 300px;
    top: 0%;
    flex-direction: column;
}
li.sideNavbar{
    padding: 25px 30px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px){
    .header{
        justify-content: space-between;
    }
    .navigation.pxy__30 {
           display: none;
       }
   h2.white.pz__10 {
       font-size: 50px!important;
   }
   svg.bi.bi-list.white.pointer {
       width: 30px;
       height: 30px;
   }
   }
   @media only screen and (max-width: 425px){
       h2.home__text.pz__10{
       font-size: 32px;
   }
   h3.sweet.pz__10 {
       font-size: 40px;
   }
   h1.home__text {
       font-size: 14px;
   }
   h4.home__text {
       font-size: 45px;
   }

   .home__img{
    background-image: url(./img/background.png);
    position: relative;
    background-position: right bottom;
    background-size: 400px;
    background-repeat: no-repeat;
    margin-bottom: 0;

}

   }